html{
    /* font-family: IRANSans; */
    font-size: 62.5%;
}


a {
    text-decoration: none;
    
}

.btn{
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-family: inherit;
}

.btn__green {
    background-color: rgb(143, 248, 236);
}

.btn__green:hover{
    background-color: rgb(105, 189, 180);
}

.row {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* 
----------navigation 
*/

.navigation {
    background-color: rgb(46, 44, 44);
    display: flex;
    justify-content: space-between;
}
.navigation .logo {
    background-color: rgba(10, 9, 9, .5) 
}

.navigation a{
    color: white;
}

.navigation a:hover {
    opacity: .8;
    
}

.navigation .nav__right , .navigation .nav__left {
    display: flex;
    
}

.navigation .nav__right li , .navigation .nav__left li {
    list-style: none;
    padding: 1.2rem 2rem;
    font-size: 1.4rem;
}


.navigation li:hover {
    background-color: royalblue;
    border-radius: 10px;
}


/* 
---------head section
*/

.head-section {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.head-section .head__right , .head-section head__left {
    display: flex;
    align-items: center;
}


/* 
---------- dropdown button
*/
.sh-dropdown-wrapper {
    display: flex;
}

.sh-dropdown-trigger {
    background-color: royalblue;
    border-radius: 4px;
    padding: 1.3rem;
    color: white;
}

/* 
--------- searchbox
*/

.search .formgroup {
    margin-right: 1.6rem;
    display: flex;
}

.search input{
    background-color:  rgba(47, 83, 83, 0.2);
    border: none;
    color: rgb(114, 109, 109);
    font-size: 1.4rem;
    outline: none;
    display: flex;
    width: 30rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search input::placeholder {
    color: rgb(114, 109, 109);
    font-size: 2rem;
    display: flex;
    
}

.search button {
    background-color: #a5a5a5;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    outline: none;

}

.search button i {
    font-size: 2.3rem;
    padding: .8rem ;
    color: whitesmoke;
}

/* 
--------- cart button
*/

.cart {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    background-color: turquoise;
    border-radius: 3px;
    color: white;
}

.cart i{
    padding: 1rem;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, .2);
    margin-left: 1rem;
}

.cart span{
    font-size: 1.6rem;
    margin: 0.8rem;
    padding: 5px 8px 3px;
    border-radius: 50%;
    background-color:  rgba(255, 255, 255, .2);

}

/* 
------------slider special suggest
*/

.special-suggest__item{

    height: 250px;
    z-index: 0;
    background-size: cover !important;
    display: flex;
    align-items: center;
}

.special-suggest__item-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 12rem;
}

.special-suggest__item-info a{
    color: white;
}

.special-suggest__item-section { 
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: white;
    padding: 15px 20px;
    font-weight: 400px;
    font-size: 1.8rem;
    border-radius: 4px;

}

.special-suggest__item-title {

    margin-left: 10rem;
}

@media only screen and (max-width: 767px )  {
    .navigation .nav__left , .search{
        display: none;
    }



}


@media only screen and (max-width: 500px )  {

    .nav__right {
        flex-direction: column;
        width: 100%;
    }

    .special-suggest__item-info{

        margin-right: 3.5rem;
        
    }

}


@media only screen and (max-width: 400px ) {

    .special-suggest__item-info{

        margin-right: 1rem;
        
    }


    
}

/* 
-----------product-section
*/

.product-section{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.product-section__head{
    display: flex;
    margin-top: 3.5rem;
    align-items: center;

}
.product-section__head a {
    font-size: 1.6rem;
    border-bottom: 1px solid rgba(77, 77, 77, .8);

}

.product-section__head a:hover {
    border: none;
}


    .product-section__head-title{
        margin-left: 2rem;
        font-size: 2.3rem;
        font-weight: bold;
        color: #4d4d4d;
    }

.product-section__content {
    margin-top: 2.5rem;

}

.product-section__content-box .product__image{
    height: 250px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, .1);
    justify-content: center;
    align-items: center;

}

.product-section__content-box .product__image img {
    height: 190px;
    width: aut0;
}
.product-section__content-box .product__info{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.product-section__content-box .product__info a:first-child{
    margin-top: 2rem;
    font-size: 2rem;
    color: #444;
    font-weight: 400px;
    
}
.product-section__content-box .product__info .product__discount{
    margin-top: 1rem;
    color: #ff6b6b;
    font-weight: 500px;
    font-size: 1.6rem;
    text-decoration: line-through;

}

.product-section__content-box .product__info .product__original{
    color: rgb(0, 177, 156);
    margin-top: 1rem;
    font-weight: 400px;
    font-size: 2rem;

}