html{
    font-family: IRANSans;
    font-size: 62.5%;
}


a {
    text-decoration: none;
    
}

.btn{
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-family: inherit;
}

.btn__green {
    background-color: rgb(143, 248, 236);
}

.btn__green:hover{
    background-color: rgb(105, 189, 180);
}

.row {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* 
-----------------------------------------navigation 
*/

.navigation {
    background-color: rgb(46, 44, 44);
    display: flex;
    justify-content: space-between;
}
.navigation .logo {
    background-color: rgba(10, 9, 9, .5) 
}

.navigation a{
    color: white;
}

.navigation a:hover {
    opacity: .8;
    
}

.navigation .nav__right , .navigation .nav__left {
    display: flex;
    
}

.navigation .nav__right li , .navigation .nav__left li {
    list-style: none;
    padding: 1.2rem 2rem;
    font-size: 1.4rem;
}


.navigation li:hover {
    background-color: royalblue;
    border-radius: 10px;
}


/* 
-----------------------------------------head section
*/

.head-section {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.head-section .head__right , .head-section head__left {
    display: flex;
    align-items: center;
}


/* 
-----------------------------------------dropdown button
*/
.sh-dropdown-wrapper {
    display: flex;
}

.sh-dropdown-trigger {
    background-color: royalblue;
    border-radius: 4px;
    padding: 1.3rem;
    color: white;
}

/* 
-----------------------------------------searchbox
*/

.search .formgroup {
    margin-right: 1.6rem;
    display: flex;
}

.search input{
    background-color:  rgba(47, 83, 83, 0.2);
    border: none;
    color: rgb(114, 109, 109);
    font-size: 1.4rem;
    outline: none;
    display: flex;
    width: 30rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search input::placeholder {
    color: rgb(114, 109, 109);
    font-size: 2rem;
    display: flex;
    
}

.search button {
    background-color: #a5a5a5;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    outline: none;

}

.search button i {
    font-size: 2.3rem;
    padding: .8rem ;
    color: whitesmoke;
}

/* 
-----------------------------------------cart button
*/

.cart {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    background-color: turquoise;
    border-radius: 3px;
    color: white;
}

.cart i{
    padding: 1rem;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, .2);
    margin-left: 1rem;
}

.cart span{
    font-size: 1.6rem;
    margin: 0.8rem;
    padding: 5px 8px 3px;
    border-radius: 50%;
    background-color:  rgba(255, 255, 255, .2);

}

/* 
-----------------------------------------slider special suggest
*/


.special-suggest__item{

    height: 250px;
    z-index: 0;
    background-size: cover !important;
    display: flex;
    align-items: center;
}

.special-suggest__item-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 12rem;
}

.special-suggest__item-info a{
    color: white;
}

.special-suggest__item-section { 
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: white;
    padding: 15px 20px;
    font-weight: 400px;
    font-size: 1.8rem;
    border-radius: 4px;

}

.special-suggest__item-title {

    margin-left: 10rem;
}

/* 
-----------------------------------------product-section
*/

.product-section{
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.product-section__head , .product-section__head-center{
    display: flex;
    margin-top: 3.5rem;
    align-items: center;

}

.product-section__head-center{
    flex-direction: column;
    
}
.product-section__head a , .product-section__nav span a{
    font-size: 1.6rem;
    border-bottom: 1px solid rgba(77, 77, 77, .8);

}

.product-section__head a:hover , .product-section__nav span a:hover {
    border: none;
}


    .product-section__head-title , .product-section__head-title-center{
        margin-left: 2rem;
        font-size: 2.3rem;
        font-weight: bold;
        color: #4d4d4d;
    }

    .product-section__head-title__center{
        margin-left: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, .4);
        padding-bottom: 5px;
        font-size: 2.3rem;
        margin-bottom: 5px;

    }

    .product-section__head-description {
        width: 80%;
        text-align: center;
        line-height: 1.8;
        font-size: 1.6rem;
    }

    .product-section__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .product-section__nav-btn button{
        border: none;
        outline: none;
        background: #efefef;
        padding: 5px 10px;
        border-radius: 5px;
        

    }
    .product-section__nav-btn button i{
        font-size: 2.3rem;
        color: rgba(77, 77, 77, .8);
        
    }

    .product-section__nav-btn button i:hover{
        opacity: .5;
        cursor: pointer;
        
    }

.product-section__content {
    margin-top: 1.5rem;

}

.product-section__content-box .product__image{
    height: 290px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, .1);
    justify-content: center;
    align-items: center;

}

.product-section__content-box .product__image img {
    height: 190px;
    width: auto;
}
.product-section__content-box .product__info{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.product-section__content-box .product__info a:first-child{
    margin-top: 2rem;
    font-size: 2rem;
    color: #444;
    font-weight: 400px;
    
}
.product-section__content-box .product__info .product__discount{
    margin-top: 1rem;
    color: #ff6b6b;
    font-weight: 500px;
    font-size: 1.6rem;
    text-decoration: line-through;

}

.product-section__content-box .product__info .product__original{
    color: rgb(0, 177, 156);
    margin-top: 1rem;
    font-weight: 400px;
    font-size: 2rem;
    
}

/* 
----------------------------------------- banner box
*/

.banner-box__section {
    display: flex;
    justify-content: center;

}

.banner-box__section img{
    width: 100%;
}

.banner-box__section a{

    margin-left: 10px;
}


.banner-box__section a:last-child{
    margin-left: 0px;

}

/* 
------------------------------------------------------comment-section
*/

.comment-section {
    display: flex;
    background-color: #f5f5f5;
    height: 525px;
}

.comment-section__head{
    background: url(../img/comment.png) no-repeat 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    flex-basis: 30%;
    position: relative;

}

.comment-section__head::after{
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
}

.comment-section__head  .content {
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.8;
}

.comment-section__head  .content h3{

    font-size: 2.5rem;
}

.comment-section__head  .content p{
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-section__head .content a {
    font-size: 1.5rem;
    border-bottom: 1px solid;
    color: white;
}


.comment-section__content {
    display: flex;
    flex-basis: 70%;
    padding: 1.5rem;
    flex-wrap: wrap;
}

.comment-box {
    flex-basis: 40%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 10px;
    padding: 12px;
}

.comment-box hr {
    border: 1px solid rgba(0, 0, 0, .1);
    margin-top: 15px;
    margin-bottom: 15px;
}

.comment-box .comment-box__title {
    color: #333;
    font-size:  2rem;

}

.comment-box .comment-box__description {
    line-height: 1.5;
    font-size:  1.3rem;
    color: rgba(53, 48, 48, 0.753);
}


/* 
-----------------------------------------Media (responsive)
*/


@media only screen and (max-width: 767px )  {
    .navigation .nav__left , .search{
        display: none;
    }
    .special-suggest__item-info{

        margin-right: 4rem;
    }

    .comment-section{
        flex-direction: column;
    }

    .comment-section__haed .content{
        margin: 15px;

    }


}


@media only screen and (max-width: 500px )  {

    .nav__right {
        flex-direction: column;
        width: 100%;
    }

    .special-suggest__item-info{

        margin-right: 3.5rem;
        
    }

    .comment-box{
        flex-basis: 100%;
    }

}


@media only screen and (max-width: 420px ) {


    .special-suggest__item-info{

        margin-right: 1rem;
        width: 1000%;
        
        
    }
    .special-suggest__item-title {

        margin-left: 5rem;
    }
    
}
